body {
  margin: 0;
  padding: 0;
  background-color: #d5e1ef;
  font-family: Roboto, sans-serif;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 10vh auto;
  width: 300px;
  height: 500px;
  min-height: 60vh;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 0px 2px #e2ebf0;
}
.container img {
  width: 100%;
  border-radius: 20px;
}
.container h2 {
  font-size: 1.4rem;
  text-align: center;
  padding: 0 10px;
}
.container p {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  padding: 10px;
  font-family: system-ui, "Segoe UI", sans-serif;
}
